/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
  }
  body {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Segoe UI", "メイリオ", "Meiryo",sans-serif;
  }
  a, a:visited {
    color:#0000EE;
  }
  
  /* header */
  .header {
    background:#fff;
    border-bottom:1px solid #D9D9D0;
    padding:10px 0 10px 0;
  }
  .header_main {
    width:100%;
    max-width:1030px;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
  }
  
  /* tags */
  h1 {
    font-size:26px;
    background-size:43px;
    height:100%;
    width:70%;
  }
  h1 a, h1 a:visited {
    color:white;
    text-decoration:none;
    color:#333;
  }
  .header_right {
    width:30%;
  }
  
  .footer {
    width:100%;
    margin:0 auto;
    background:white;
    text-align:center;
    color:#666;
    font-size:13px;
  }

  .footer .what_is_this_site {
    width:100%;
    padding:25px 0;
    font-size:16px;
    background:#fafafa;
  }
  .footer .what_is_this_site b {
    padding-left:3px;
    padding-right:3px;
    font-size:101%;
  }
  .footer .what_is_this_site ul {
  }
  .footer .what_is_this_site li {
    list-style:none;
  }
  .footer .what_is_this_site img {
    width:100%;
    max-width:110px;
    margin-bottom:15px;
  }
  
  .inside {
    width:1080px;
    margin:0 auto;
  }
  /* footer */
  .footer .perlri_link img {
    width:105px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
  }
  .footer .perlri_link a, .footer .perlri_link a:visited {
    color:white;
    display:block;
    height:100%;
    padding:28px 0 25px 0;
    font-size:18px;
    font-weight:bold;
    color:white;
    text-align:center;
    background:#70AD47;
    letter-spacing:1px;
    font-size:18px;
    cursor:pointer;
  }
  .footer .perlri_link a:hover {
    opacity:0.8;
  }

  .youtube_block {
    width:calc(100% - 30px);
    margin:0 auto;
  }
  .youtube {
    position: relative;
    width: 100%;
    margin:0 auto;
    padding-top: 56.25%;
  }
  .youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    max-width:1030px;
    width:100%;
    margin: 0 auto;
  }
  .main:after {
    content:"";
    display:block;
    clear:both;
  }
  
  /* content */
  .content {
    float:left;
    width:calc(100% - 320px - 20px);
    padding-top:5px;
  }
  
  /* entry */
  .entry {
    background:white;
    margin-bottom:10px;
  }
  .entry li {
    margin-left:25px;
    line-height:1.5;
  }
  
  /* side */
  .side {
    float:right;
    width:320px;
    padding-top:12px;
  }
  
  h2 {
    font-size:28px;
    margin:7px 0 12px 0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
  }
  h2 a, h2 a:visited {
    text-decoration:none;
    color:#000;
  }
  h3 {
    font-size:21px;
    border-top:4px solid #2F5597;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    background:#F3F3Fa;
    margin-top:40px;
    color:#3c3c33;
  }
  h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 18px 0;
    border-bottom:dashed 1px #ddd;
  }
  p {
    font-size:16px;
    color:#111;
    margin:15px 0;
    line-height:1.5;
  }
  pre {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.2;
    white-space:pre-wrap;
    word-break : break-all;
  }
  blockquote {
    font-size:16px;
    background:#FCFCFC;
    border:1px solid #CCCCCC;
    border-radius:5px;
    padding:10px 15px;
    margin:10px 0;
    line-height:1.5;
  }

  table {
    border-collapse: collapse;
    margin-left:15px;
  }

  table th {
    border:1px solid #ddd;
    padding:7px;
    background:#eee;
    font-weight:bold;
  }

  table td {
    border:1px solid #ddd;
    padding:7px;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }
  .side_list {
  }
  .side_list_title {
    background:#2F5597;
    color:white;
    font-weight:bold;
    padding: 11px 0px 9px 0px;
    text-align:center;
    border:1px solid #0070C0;
    border-bottom:none;
  }
  .side_list ul {
    margin-bottom:30px;
  }
  .side_list li {
    list-style:none;
    background:white;
    border:1px solid #D0D0DA;
    border-bottom:none;
    padding:12px 0px 10px 15px;
  }
  .side_list li:last-child {
    border-bottom:1px solid #D0D0DA;
  }
  .side_list li:first-child {
    border-top:none;
  }

  .to_top {
    display:flex;
    justify-content:center;
    margin-top:30px;
  }
  .to_top a {
    display:block;
    width:50px;
    height:50px;
    border-radius:50%;
    background:#eeeeff;
    border:1px solid #30a0F0;
    text-align:center;
    padding-top:10px;
    cursor:pointer;
    color:#0070C0;
    font-size:18px;
  }

  /* bread
  ----------------------------------*/
  .bread ul {
    list-style: none;
    overflow: hidden;
    color: #777;
    font: 10px Verdana, sans-serif;
    background: #fff;
    border: 1px solid #dedede;
  }
  .bread li {
    float: left;
    line-height: 30px;
    text-shadow: 0 1px 0 white;
  }
  .bread li a {
    color: #666;
    text-decoration: none;
    padding: 0 10px 0 20px;
    background: #eee;
    background: -webkit-gradient(linear, left top, right top,
      from(#fff),
      color-stop(0.85,#efefef),
      to(#efefef));
    background: -moz-linear-gradient(left,
      #fff,
      #efefef 85%,
      #efefef);
    background: linear-gradient(left,
      #fff,
      #efefef 85%,
      #efefef);
    display: block;
    float: left;
  }
  .bread li a::after {
    position: relative;
    display: block;
    margin-top: -15px;
    margin-left: auto;
    margin-right: -15px;
    height: 15px;
    width: 10px;
    content: " ";
    -webkit-transform: skew(-30deg);
    background: #efefef;
    border-right: 1px solid #d6d6d6;
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
  }
  .bread li a::before {
    float: right;
    display: block;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: -15px;
    height: 15px;
    width: 10px;
    content: " ";
    -webkit-transform: skew(30deg);
    background: #efefef;
    border-right: 1px solid #d6d6d6;
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
  }
  .bread li:first-child a {padding-left: 10px;}
  .bread li:last-child {
    padding-left: 20px;
    background: transparent !important;
    color: black;
  }
  .bread li a:hover {color: #d31;}

  .perlclub_register {
    width:calc(100% - 30%);
    max-width:500px;
    margin:50px auto;
  }
  .perlclub_register a {
    line-height:1.9;
    text-align:center;
    font-weight:bold;
    font-size:19px;
    display:block;
    padding:33px 30px;
    background:#FF4DA0;
    text-decoration:none;
    border-radius:5px;
    color:white;
  }
  .perlclub_register a:hover {
    opacity:0.8;
  }
  

/* Tablet and Smart phone */
@media only screen and (max-width:1030px) {
  .content {
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    overflow:visible;
  }
  .side {
    display:none;
    margin:0;
    padding:0;
    width:100%;
    height:auto;
    overflow:visible;
  }
  .hide-smartphone {
    display:none;
  }
  .header_main, h2,h4,h5, p, pre {
    width:calc(100% - 20px);
    margin-left:auto;
    margin-right:auto;
  }
  .side_list li {
    border-left:none;
    border-right:none;
  }
  .side_list li:last-child {
    border-bottom:none;
  }
}
